$breakpoint-grid-sm: 576px;
$breakpoint-grid-md: 768px;
$breakpoint-grid-lg: 992px;
$breakpoint-grid-xl: 1200px;

$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1800px;



// $darkPurpleColor: #5C2ECE;
$darkPurpleColor: #1E172F;
$whiteColor: #ffffff;
$defaultText: #64648C;
$blackColor: #000000;