@import "../abstracts/mixins";
@import "../abstracts/variables";

.footer {
  margin-top: 280px;
  background: #1e172f;
  @media (max-width: $breakpoint-md) {
    margin-top: 350px;       
  }
  & .col-md-4 {
    @media (max-width: $breakpoint-md) {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }  
    }
  }
  &-main {
    padding: 108px 0 56px 0;
    @media (max-width: $breakpoint-md) {
      padding: 100px 0 24px 0;     
    }
  }
  &__logo {
    display: flex;
    width: 140px;
    @media (max-width: $breakpoint-lg) {
      margin: auto auto 40px auto;
    }
    @media (max-width: $breakpoint-md) {
      margin: 0 0 60px 0;     
    }
    & img {
      @include defaultIcon(contain);
    }
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
    color: $whiteColor;
  }
  ul {
    li {
      margin-bottom: 16px;
      a {
        color: $whiteColor;
        opacity: 0.6;
        text-decoration: none;
        position: relative;
        @include transition(0.3);
        &:before {
          content: "";
          pointer-events: none;
          background: $whiteColor;
          position: absolute;
          bottom: -2px;
          left: 0;
          opacity: 0;
          width: 0;
          height: 2px;
          @include transition(0.3);
        }
        &:hover {
          opacity: 1;
          &:before {
            width: 100%;
            opacity: 1;
          }
        }
      }
    }
  }
  &-copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    @media (max-width: $breakpoint-md) {
      padding: 24px 0;     
    }
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 170px;
      @media (max-width: $breakpoint-lg) {
        padding-right: 0;
      }
      @media (max-width: $breakpoint-md) {
        flex-direction: column-reverse; 
        align-items: flex-start;  
      }
      p {
        font-size: 14px;
        color: $whiteColor;
        opacity: 0.6;
        @media (max-width: $breakpoint-md) {
          margin-top: 18px; 
        }
      }
    }
  }
}

.socials {
  &-list {
    display: flex;
  }
  &__item {
    margin: 0 6px;
    width: 30px;
    height: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    @include transition(0.3);
    i:before {
      @include transition(0.3);
    }
    &:hover {
      background: $whiteColor;
      & i:before {
        color: $darkPurpleColor;
      }
    }
  }
}

.newsletter {
  & .container {
    position: relative;
  }
  &-inner {
    background: url("../img/newsletter-gradient.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: calc(100% - 30px);
    position: absolute;
    left: 15px;
    top: -180px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 40px 60px 40px 60px;
    @media (max-width: $breakpoint-md) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: 360px;
      top: -300px;
      padding: 40px 16px 16px 16px;
    }
  }
  &__logo {
    margin-bottom: 20px;
  }
  &__title {
    margin-bottom: 10px;
    font-size: 34px;
    font-weight: 700;
    color: #362f8a;
    line-height: 1.3;
    @media (max-width: $breakpoint-lg) {
      font-size: 28px;
    }
  }
  &__subtitle {
    font-size: 16px;
    font-weight: 700;
    color: #363385;
    line-height: 1.3;
  }
  &__form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 417px;
    @media (max-width: $breakpoint-lg) {
      width: 380px;
    }
    @media (max-width: $breakpoint-md) {
      width: 100%;
    }
    form {
      width: 100%;
    }
    .form-group {
      position: relative;
      width: 100%;
      @media (max-width: $breakpoint-md) {
        background: $whiteColor;
        border-radius: 20px;   
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 12px;
      }
    }
    input {
      width: 100%;
      padding: 17px 160px 17px 24px;
      border-radius: 30px;
      font-family: inherit;
      font-size: 16px;
      border: none;
      outline: none;
      color: inherit;
      line-height: 26px;
      @include transition(0.3);
      @media (max-width: $breakpoint-md) {
        padding: 17px 24px 17px 10px;   
      }
      &:focus {
        box-shadow: 1px 1px 10px #8a8a8a;
        @media (max-width: $breakpoint-md) {
          box-shadow: none;
        }
      }
      &::placeholder {
        color: $defaultText;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: $defaultText;
      }

      &::-ms-input-placeholder {
        color: $defaultText;
      }
    }
    button {
      position: absolute;
      height: 48px;
      right: 6px;
      top: 6px;
      @media (max-width: $breakpoint-md) {
        position: static;   
      }
    }
  }
}
