@import "../abstracts/mixins";
@import "../abstracts/variables";

.hero-screen {
  height: 100vh;
  &-circle {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;
  }
  &-background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -4;
  }
  &:before {
    content: '';
    background: url('../../img/hero-screen-shadow.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
  }
}
