@import "../abstracts/mixins";
@import "../abstracts/variables";

.btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 34px;
  line-height: 1;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border-radius: 24px;
  @include transition(.3);
  &-primary {
    color: $whiteColor;
    border-color: #362F8A;
    background: #362F8A;
    &:hover {
      background: transparent;
      color: #362F8A;
    }
  }
  &-secondary {
    color: #362F8A;
    border-color: #E0E0E0;
    background: $whiteColor;
    &:hover {
      background: #362F8A;
      border-color: #362F8A;
      color: $whiteColor;
    }
  }
  &-orange {
    background: #F16622;
    color: $whiteColor;
    &:hover {
      color: #F16622;
      background: $whiteColor;
    }
  }
}