@import "../abstracts/mixins";
@import "../abstracts/variables";

.entry-content {
  & p {
    margin-bottom: 24px;
    line-height: 1.7;
    color: #0f0c3a;
  }
  & a {
    border-bottom: 1px solid #362f8a;
    text-decoration: none;
    color: #362f8a;
    @include transition(.3);
    &:hover {
      border-color: transparent;
    }
  }
  & h2 {
    @include fontSize(18, 24);
  }
  & h3 {
    @include fontSize(17, 20);
  }
  & h4 {
    @include fontSize(16, 18);
  }
  & h5 {
    @include fontSize(14, 16);
  }
  & h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: #1E172F;
    margin-bottom: 16px;
  }
  & h1 {
    @include fontSize(20, 32);
  }
  & img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 24px;
  }
  & ul, ol {
    margin-bottom: 24px;
  }
  & ul {
    & li {
      padding-left: 20px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 4px;
        top: 10px;
        width: 5px;
        height: 5px;
        background: #362f8a;
        border-radius: 100%;
      }
    }
  }
  & ol {
    & li {
      counter-increment: li;
      &:before {
        content: counter(li) ".";
        font-weight: 700;
        padding: 0 4px;
        color: #362f8a;
        display: inline-block;
        min-width: 24px;
      }
    }
  }
}

