@import "../abstracts/mixins";
@import "../abstracts/variables";

.particles-background {
  height: 600px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  & img {
    display: block;
    width: 100%;
  }
  @media (max-width: $breakpoint-lg) {
    height: 500px;
    & img {
      height: 100%;
    }
  }
}

main {
  min-height: 100vh;
  @media (max-width: $breakpoint-lg) {
    min-height: unset;
  }
}

.checkmark-list {
  & li {
    padding-left: 26px;
    position: relative;
    margin-bottom: 16px;
    font-size: 14px;
    color: $blackColor;
    &:before {
      content: "";
      background-image: url("../img/icons/icon-checkmark.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 24px;
      height: 24px;
      position: absolute;
      left: 0;
    }
  }
}


.breadcrumbs-container.container {
  padding: 150px 15px 30px 15px;
  @media (max-width: $breakpoint-md) {
    padding: 110px 15px 30px 15px;
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  li {
    font-weight: 500;
    color: #64648c;
  }
  a {
    font-weight: 500;
    color: #47386e;
    display: flex;
    text-decoration: none;
    align-items: center;
    &:after {
      content: "/";
      display: block;
      margin: 0 4px;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 40px 0;
  .page-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #E0E0E0;
    background: $whiteColor;
    text-decoration: none;
    margin: 0 5px;
    font-size: 16px;
    @include transition(.3);
    &.next {
      &:before {
        transform: rotate(180deg);
      }
    }
    &:hover, &.current {
      background: #362F8A;
      color: $whiteColor;
    }
    &.prev, &.next {
      &:before {
        display: block;
        content: "\e905";
        font-family: 'icomoon';
        color: $blackColor;
        font-size: 12px;
        @include transition(.3);
      }
      &:hover {
        &:before {
          color: $whiteColor;
        }
      }
    }
  }
}