@import "../abstracts/mixins";
@import "../abstracts/variables";


.particles-background {
  height: 600px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  & img {
    display: block;
    width: 100%;
  }
  @media (max-width: $breakpoint-lg) {
    height: 500px;
    & img {
      height: 100%;
    }
  }
}

main {
  min-height: 100vh;
  @media (max-width: $breakpoint-lg) {
    min-height: unset;
  }
}

.checkmark-list {
  & li {
    padding-left: 26px;
    position: relative;
    margin-bottom: 16px;
    font-size: 14px;
    color: $blackColor;
    &:before {
      content: '';
      background-image: url('../img/icons/icon-checkmark.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 24px;
      height: 24px;
      position: absolute;
      left: 0;
    }
  }
}

.faq-page {
  padding-top: 200px;
  @media (max-width: $breakpoint-lg) {
    padding-top: 110px;
  }
  .faq {
    margin-bottom: 0;
    .container {
      border: 1px solid #E4E4E4;
      background: $whiteColor;
      padding: 72px 64px 92px 64px;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0px 10px 20px rgba(8, 22, 96, 0.07);
      @media (max-width: $breakpoint-xl) {
        margin: 0 15px;
      }
      @media (max-width: $breakpoint-md) {
        padding: 50px 20px 50px 20px;
      }
    }
    .section-heading {
      text-align: left;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 30px;
    }
  }
}