@import "../abstracts/mixins";
@import "../abstracts/variables";

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.--semibold {
  font-weight: 600;
}

.--regular {
  font-weight: 400;
}

.--medium {
  font-weight: 500;
}

.--bold {
  font-weight: 700;
}
.--uppercase {
  text-transform: uppercase;
}
.heading-1, .heading2, .heading-3, .heading-4, .heading-5 {
  font-weight: 700;
  color: $darkPurpleColor;
}
.heading-1 {
  @include fontSize(30, 60);
  font-weight: 800
}
.heading-2 {
  @include fontSize(26, 48);
}
.heading-3 {
  @include fontSize(22, 36);
}
.heading-4 {
  @include fontSize(18,24);
}
.heading-5 {
  @include fontSize(14, 16);
  font-weight: 600;
}
.icon-icon-bullet:before {
  content: "\e903";
  color: #ff5d3c;
}
.icon-icon-chevron:before {
  content: "\e905";
}
.icon-icon-close:before {
  content: "\e906";
  color: #fff;
}
.icon-icon-dribble:before {
  content: "\e907";
  color: #fff;
}
.icon-icon-facebook:before {
  content: "\e908";
  color: #fff;
}
.icon-icon-instagram:before {
  content: "\e90c";
  color: #fff;
}
.icon-icon-linux:before {
  content: "\e910";
  color: #fff;
}
.icon-icon-loupe:before {
  content: "\e913";
  color: #64648c;
}
.icon-icon-mac:before {
  content: "\e914";
  color: #fff;
}
.icon-icon-minus:before {
  content: "\e919";
}
.icon-icon-plus:before {
  content: "\e91a";
}
.icon-icon-quote:before {
  content: "\e91b";
}
.icon-icon-share:before {
  content: "\e91f";
  color: #64648c;
}
.icon-icon-square:before {
  content: "\e920";
  color: #fff;
}
.icon-icon-triangle:before {
  content: "\e921";
  color: #362f8a;
}
.icon-icon-twitter:before {
  content: "\e922";
  color: #fff;
}
.icon-icon-windows:before {
  content: "\e923";
  color: #fff;
}

.icon {
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  display: inline-block;
  &-phone {
    background-image: url('../img/icons/icon-phone.svg');
  }
  &-envelope {
    background-image: url('../img/icons/icon-envelope.svg');
  }
  &-location {
    background-image: url('../img/icons/icon-location.svg');
  }
  &-search {
    background-image: url('../img/icons/icon-loupe.svg');
  }
  &-share {
    background-image: url('../img/icons/icon-share.svg');
  }
}